
@font-face {
  font-family: 'Tenali Ramakrishna';
  src: url('/assets/fonts/TenaliRamakrishna-Regular.ttf');
}

* {
  color: #fff;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

body {
  margin: 0;
  background-color: #24292e;
  font-size: 1.15rem;

  & > header {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1d1d1d;
    font-size: 2rem;
    text-align: center;
  }

  & > main {
    position: relative;
    min-height: calc(100vh - 97px);

    & > * {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & > footer {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
  }
}

a {
  color: #0d6efd;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type=text], input[type=password] {
  padding: 8px 16px;
  color: #000;
  font-size: 1.15rem;
  border: 0;
  border-radius: 8px;
}

input[type=text]:focus, input[type=password]:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(49, 132, 132, 0.5);
}

button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #0d6efd;
  color: #fff;
  font-size: 1.15rem;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

button.large {
  padding: 12px 24px;
}

button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(49, 132, 253, 0.5);
}

button:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.container {
  width: 75%;
  padding: 24px;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 12px;
  }
}

.f1 {
  font-size: 1.5rem;
}

.f2 {
  font-size: 1.35rem;
}

.progress-group {
  display: flex;
  flex-direction: column;
  text-align: center;

  .progress {
    display: flex;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 12px;
    overflow: hidden;

    .progress-bar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 0%;
      background-color: #007bff;
      transition: width 0.15s;
      transition-timing-function: ease;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .progress-label {
    margin-top: 8px;
    font-size: 1.5rem;
  }
}

.form-group {
  display: flex;
  width: 100%;
  margin-top: 8px;
  border-radius: 8px;

  & > * {
    border-radius: 0 !important;
  }

  & > *:first-child {
    margin: 0;
    flex: 1;
    border-top-left-radius: inherit !important;
    border-bottom-left-radius: inherit !important;
  }

  & > *:last-child {
    margin: 0;
    border-top-right-radius: inherit !important;
    border-bottom-right-radius: inherit !important;
  }
}
